name: Build Release Zip

on:
  push:
    tags:
      - 'v*'

jobs:
  zip:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required to upload release assets
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Prepare plugin folder
        run: |
          mkdir telegrarm
          cp -r *.php readme.txt LICENSE telegrarm/

      - name: Zip it
        run: zip -r telegrarm.zip telegrarm

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: telegrarm.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

